@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: #1444ff; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: #1444ff; /* Gecko Browsers */
  color: white;
}